{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}
        {% bootstrap_css %}
    {% endblock %}
    <title>Add Post</title>
</head>
<body>
    <div class="container">
        <div class="form w-50 m-auto">
            <form action="{% url 'new_post'%}" method="post">
                {%csrf_token%}
                {% bootstrap_form form%}
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Add Question</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>